body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
canvas {
    height: 800px;
}
.table-container {
    flex: auto;
    overflow: auto;
}
.styled-table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    margin: 1.5em 0;
    font-size: 2em;
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.styled-table thead td{
    padding: 12px 15px;
    text-align: center;
    min-width: 5em;
    max-width: 10em;
}
.styled-table th{
    background-color: #0d0998;
    color: #ffffff;
    padding: 12px 15px;
    text-align: center;
    min-width: 5em;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}  
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}  
.styled-table td {
    text-align: center;
    border-left-width: medium;
    border-right-width: medium;
    border-top-width: medium;
    border-bottom-width: medium;
    padding: 0;
    border: 1px solid #616161;
}
#lcell {
    background-color: #ff0077;
    color: #ffffff;
    min-width: 5em;
    font-weight: bold;
    font-size: 130%;
}
#total {
    background-color: #4b7fe8;
    color: #ffffff;
    text-align: right;
}
#totalrow {
    background-color: #4b7fe8;
    color: #ffffff;
}
